In [16]:
import re
import requests
import pandas as pd

In [6]:
page_all_results = requests.get('https://www.parkrun.ru/kuzminki/results/eventhistory/', 
                                headers={'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:86.0) Gecko/20100101 Firefox/86.0'})

In [40]:
data = pd.read_html(page_all_results.text)[0]
data = data.drop(columns=data.columns[8:])

In [41]:
data.columns

Index(['№ паркрана#', 'Дата', 'Дата/Первые на финише', 'Финишеры', 'Волонтеры',
       'Первый среди мужчин', 'Первый среди мужчин.1', 'Первая среди женщин'],
      dtype='object')

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   № паркрана#            203 non-null    int64
 1   Дата                   203 non-null    object
 2   Дата/Первые на финише  203 non-null    object
 3   Финишеры               203 non-null    object
 4   Волонтеры              203 non-null    object
 5   Первый среди мужчин    203 non-null    object
 6   Первый среди мужчин.1  203 non-null    object
 7   Первая среди женщин    203 non-null    object
dtypes: int64(1), object(7)
memory usage: 12.8+ KB

In [43]:
data = data.rename(columns={data.columns[0]: 'number', data.columns[1]: 'date',
                           data.columns[2]: 'finishers', data.columns[3]:'volunteers',
                           data.columns[4]: 'men_name', data.columns[5]: 'men_time',
                           data.columns[6]: 'women_name', data.columns[7]: 'women_time'})

In [44]:
data

,number,date,finishers,volunteers,men_name,men_time,women_name,women_time
0,203,14/03/2020Виктор НИКОЛАЕВ(М) 00:15:46Наталья СЕЛЕЗНЕВА(Ж) 00:20:13,154finishers,27volunteers,Виктор НИКОЛАЕВ00:15:46,00:15:46,Наталья СЕЛЕЗНЕВА00:20:13,00:20:13
1,202,07/03/2020Дмитрий ТИХОНОВ(М) 00:17:53Наталья СЕЛЕЗНЕВА(Ж) 00:20:15,176finishers,37volunteers,Дмитрий ТИХОНОВ00:17:53,00:17:53,Наталья СЕЛЕЗНЕВА00:20:15,00:20:15
2,201,29/02/2020Герман ЖАРОВ(М) 00:18:22Наталья СЕЛЕЗНЕВА(Ж) 00:20:35,185finishers,35volunteers,Герман ЖАРОВ00:18:22,00:18:22,Наталья СЕЛЕЗНЕВА00:20:35,00:20:35
3,200,22/02/2020Дмитрий ТИХОНОВ(М) 00:17:37Екатерина Лицоева(Ж) 00:22:27,246finishers,32volunteers,Дмитрий ТИХОНОВ00:17:37,00:17:37,Екатерина Лицоева00:22:27,00:22:27
4,199,15/02/2020Юрий ВОЛОДИН(М) 00:17:38Светлана БЕЛАВИНА(Ж) 00:22:42,128finishers,24volunteers,Юрий ВОЛОДИН00:17:38,00:17:38,Светлана БЕЛАВИНА00:22:42,00:22:42
...,...,...,...,...,...,...,...,...
198,5,16/07/2016Дмитрий БОНДАРЬ(М) 00:18:36Светлана КАНТОНИСТОВА(Ж) 00:22:32,42finishers,12volunteers,Дмитрий БОНДАРЬ00:18:36,00:18:36,Светлана КАНТОНИСТОВА00:22:32,00:22:32
199,4,09/07/2016Ринат АВЗЕЛИТДИНОВ(М) 00:18:05Ольга АКИМОВА(Ж) 00:23:14,46finishers,13volunteers,Ринат АВЗЕЛИТДИНОВ00:18:05,00:18:05,Ольга АКИМОВА00:23:14,00:23:14
200,3,02/07/2016Дмитрий БОНДАРЬ(М) 00:18:52Янчик КРЖИЖАНОВСКАЯ(Ж) 00:23:24,27finishers,10volunteers,Дмитрий БОНДАРЬ00:18:52,00:18:52,Янчик КРЖИЖАНОВСКАЯ00:23:24,00:23:24
201,2,25/06/2016Алексей КУХАРЕНКО(М) 00:18:28Olga LAZAREVA(Ж) 00:22:15,40finishers,15volunteers,Алексей КУХАРЕНКО00:18:28,00:18:28,Olga LAZAREVA00:22:15,00:22:15
202,1,18/06/2016Дмитрий БОНДАРЬ(М) 00:16:39Алсу ШАГИЕВА(Ж) 00:18:57,112finishers,21volunteers,Дмитрий БОНДАРЬ00:16:39,00:16:39,Алсу ШАГИЕВА00:18:57,00:18:57

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   number      203 non-null    int64
 1   date        203 non-null    object
 2   finishers   203 non-null    object
 3   volunteers  203 non-null    object
 4   men_name    203 non-null    object
 5   men_time    203 non-null    object
 6   women_name  203 non-null    object
 7   women_time  203 non-null    object
dtypes: int64(1), object(7)
memory usage: 12.8+ KB

In [14]:
pd.set_option('display.max_colwidth', None)

In [17]:
data[data.columns[1]].transform(lambda s: re.search(r'\d\d:\d\d:\d\d', s)[0])

0      00:15:46
1      00:17:53
2      00:18:22
3      00:17:37
4      00:17:38
         ...
198    00:18:36
199    00:18:05
200    00:18:52
201    00:18:28
202    00:16:39
Name: Дата, Length: 203, dtype: object

In [20]:
data[data.columns[1]].transform(lambda s: re.search(r'\d\d/\d\d/\d\d', s)[0])

0      14/03/20
1      07/03/20
2      29/02/20
3      22/02/20
4      15/02/20
         ...
198    16/07/20
199    09/07/20
200    02/07/20
201    25/06/20
202    18/06/20
Name: Дата, Length: 203, dtype: object

In [19]:
data[data.columns[4]]

0         Виктор НИКОЛАЕВ00:15:46
1         Дмитрий ТИХОНОВ00:17:53
2            Герман ЖАРОВ00:18:22
3         Дмитрий ТИХОНОВ00:17:37
4            Юрий ВОЛОДИН00:17:38
                  ...
198       Дмитрий БОНДАРЬ00:18:36
199    Ринат АВЗЕЛИТДИНОВ00:18:05
200       Дмитрий БОНДАРЬ00:18:52
201     Алексей КУХАРЕНКО00:18:28
202       Дмитрий БОНДАРЬ00:16:39
Name: Волонтеры, Length: 203, dtype: object