In [1]:
import re
import requests
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Wake&Run на parkrun Кузьминки

Здесь, в принципе, можно подставить идентификатор любого другого паркрана и ID любого другого клуба.

In [2]:
parkrun = 'kuzminki'
club_id = 23212
club_name = 'Wake&Run'

Список идентификаторов всех российских паркранов находится в файле `russian_parkruns.csv`.

In [3]:
url = f'https://www.parkrun.ru/{parkrun}/results/clubhistory/?clubNum=' + str(club_id)
page_all_results = requests.get(url, headers={'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:86.0) Gecko/20100101 Firefox/86.0'})

In [4]:
data = pd.read_html(page_all_results.text)[0]
data.drop(data.columns[[1, 5, 9, 12]], axis=1, inplace=True)
data.rename(columns={data.columns[0][0]: 'Участник', data.columns[0][1]: club_name}, inplace=True)

In [5]:
data

                 Участник  Время                 Рейтинги                    \
                 Wake&Run  Лучш. Средн.    Худш.    Лучш.   Средн.    Худш.
0            Герман ЖАРОВ  16:07  20:21    29:46  80.04 %  65.68 %  43.51 %
1        Сергей БАБУШИНОВ  17:01  17:42    18:23  79.04 %  76.06 %  73.16 %
2         Максим ПЕТРИЩЕВ  17:22  22:08    32:50  75.46 %  61.00 %  39.59 %
3        Дмитрий АРДАБЬЕВ  18:00  18:39    20:04  71.67 %  69.18 %  64.29 %
4      Алексей МИЛОВЗОРОВ  18:11  22:45    37:08  70.94 %  58.58 %  34.74 %
..                    ...    ...    ...      ...      ...      ...      ...
154   Виктория СОЛОПАНОВА  38:23  39:26    40:30  38.56 %  37.55 %  36.54 %
155  Александра ПОСТОЯЛКО  45:18  45:21    45:24  32.82 %  32.78 %  32.75 %
156        Антон ЧЕРНИКОВ  45:37  46:07    46:37  32.59 %  32.24 %  31.89 %
157     Дмитрий КАТАНСКИЙ  45:48  45:48    45:48  28.17 %  28.17 %  28.17 %
158    Мирослава САВЕЛОВА  55:56  58:31  1:01:06  36.95 %  34.46 %  31.97 %

       Число    Всего
    Пробежки Пробежки
0        106      110
1          3       40
2         31      100
3         10       10
4         84       89
..       ...      ...
154        2        2
155        2        2
156        2        2
157        1        1
158        2        2

[159 rows x 9 columns]

### Участники клуба с наибольшим количеством пробежек на паркране Кузьминки

In [6]:
data.drop(data.iloc[:,1:7], axis=1).drop(data.columns[8], axis=1).sort_values(by=[data.columns[7]], ascending=False).reset_index(drop=True).head(10)

            Участник    Число
            Wake&Run Пробежки
0       Андрей ЧИВИН      154
1      Максим СИЛАЕВ      143
2       Иван АРТЮШОВ      128
3       Герман ЖАРОВ      106
4  Александр ЩЁЛОКОВ      106
5     Алексей ЗЕРНОВ      102
6        Сергей СЕРЖ      102
7  Наталия ДУЛЕБЕНЕЦ       97
8     Даниил ЯШНИКОВ       97
9    Сергей РОМАШКИН       97

### Участники клуба с наибольшим количеством всех паркранов

In [7]:
data.drop(data.iloc[:,1:8], axis=1).sort_values(by=[data.columns[8]], ascending=False).reset_index(drop=True).head(10)

            Участник    Всего
            Wake&Run Пробежки
0       Андрей ЧИВИН      249
1  Наталия ДУЛЕБЕНЕЦ      243
2     Наталья ЧИВИНА      168
3      Максим СИЛАЕВ      154
4  Александр ЩЁЛОКОВ      146
5       Иван АРТЮШОВ      128
6     Алексей ЗЕРНОВ      126
7        Сергей СЕРЖ      124
8    Василий ВЕРЯЛИН      112
9   Наталия ВЕРЯЛИНА      112

### Самые быстрые бегуны клуба

In [8]:
data.drop(data.iloc[:,2:], axis=1).sort_values(by=[data.columns[1]]).reset_index(drop=True).head(10)

                 Участник  Время
                 Wake&Run  Лучш.
0            Герман ЖАРОВ  16:07
1        Сергей БАБУШИНОВ  17:01
2         Максим ПЕТРИЩЕВ  17:22
3        Дмитрий АРДАБЬЕВ  18:00
4      Алексей МИЛОВЗОРОВ  18:11
5           Максим СИЛАЕВ  18:12
6       Адильхан МУРЗАШЕВ  18:19
7            Андрей ЧИВИН  18:27
8         Владимир ШИРЯЕВ  18:43
9  Гаджимурад АБДУРАШИДОВ  18:46